# compiled output
/dist
/node_modules

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# env
.env
.env.*.local

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store

# coverage
/coverage
/.nyc_output

# prisma
prisma/generated

/generated/prisma
